* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
}

#circle{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}

#bar{
    height: 60px;
    background-color: black;
}

#logo{
    color: orange;
    font-size: 25px;
}

button{
    background-color: orange;
}

a{
    margin-right: 200px;
}

#traffic{
    border: 1px solid black;
    height: 400px;
    width: 150px;
    align-items: center;
    justify-content: center;
    
    display: flex;
    
}


.light{
    border: 1px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 10px;
    

    
}

#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}
