* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
    
  
}

h1{
    text-transform: capitalize;
}

#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
}